*, *::before , *::after{
    box-sizing: border-box;
    font: 1em sans-serif;
    font-weight: normal;
}
body{
    background: linear-gradient(to right,#00eaff, #00ff6c);
}
.container{
    justify-content: center;
    align-items: center;
  
}
textarea{
    resize: none;
    
}
button{  
 background-color: #4CAF50;
  border: none;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;

}
.container>button::hover{
background-color: rgba(255, 255,255, .9);
}
